<a href="https://colab.research.google.com/github/aso1901102/AI_tech2020/blob/master/2020AI020A_Square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#　ライブラリの読み込み
import pandas as pd

# データを学習用とテスト用に分けるライブラリ
from sklearn.model_selection import train_test_split

# ランダムフォレストアルゴリズムの学習モデル（分類）
from sklearn.ensemble import RandomForestClassifier

# 学習制度を評価するライブラリ
from sklearn.metrics import accuracy_score

# 分類結果を出力するライブラリ
from sklearn.metrics import classification_report

In [2]:
#webから読み込むためのライブラリ
from urllib.request import urlretrieve

#URLの変数を定義する
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
square_data = "data.csv"
urlretrieve(url,square_data)

('data.csv', <http.client.HTTPMessage at 0x7fc024c54da0>)

In [3]:
#DLしたファイルの内容を表示
#squareデータの読み込み
square = pd.read_csv(square_data,sep=",",encoding="utf-8")
square

     a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle      shape
0          10        10        10  ...            1               1     square
1          11        11        11  ...            1               1     square
2          12        12        12  ...            1               1     square
3          13        13        13  ...            1               1     square
4          14        14        14  ...            1               1     square
..        ...       ...       ...  ...          ...             ...        ...
395       100       125       105  ...            0               0  trapezoid
396       101       126       106  ...            0               0  trapezoid
397       102       127       107  ...            0               0  trapezoid
398       103       128       108  ...            0               0  trapezoid
399       104       129       109  ...            0               0  trapezoid

[400 rows x 8 columns]

In [4]:
#目的変数は四角形の形状
y = square["shape"]

#説明変数はshape列以外のすべて
x = square.drop("shape",axis=1)
x.head()

   a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0        10        10        10  ...            1            1               1
1        11        11        11  ...            1            1               1
2        12        12        12  ...            1            1               1
3        13        13        13  ...            1            1               1
4        14        14        14  ...            1            1               1

[5 rows x 7 columns]

In [5]:
#x_trainは学習用、x_testは検証用とする
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

#ランダムフォレストで学習する
model = RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [6]:
y_pred = model.predict(x_test)
print(classification_report(y_test,y_pred))
print("正解率 = ",accuracy_score(y_test,y_pred))

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        15
     rhombus       1.00      1.00      1.00        25
      square       1.00      1.00      1.00        25
   trapezoid       1.00      1.00      1.00        15

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 =  1.0